* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  max-width: 100%;
}

body {
  background-color: #f9f9f9;
  color: #111111;
  padding-bottom: 80px;
}

.config-header {
  padding: 16px;
  background-color: #ffffff;
  text-align: center;
  border-bottom: 1px solid #dddddd;
}

.config-header h1 {
  font-size: 20px;
}

.config-container {
  padding: 16px;
}

.config-opcoes {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.config-item {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #111111;
  border: 1px solid #cccccc;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.config-item:hover {
  background-color: #111111;
  color: #ffffff;
}

.config-item .seta {
  font-size: 18px;
  opacity: 0.4;
}

.config-item.sair {
  background-color: #ffeeee;
  justify-content: center;
  color: #d40000;
  font-weight: bold;
  border: 1px solid #ffcccc;
}

.config-item.sair:hover {
  background-color: #ff5c5c;
  color: #ffffff;
}

.footer {
  display: flex;
  justify-content: space-around;
  background: #ffffff;
  border-top: 1px solid #dddddd;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 12px 0;
}

.footer button {
  border: none;
  background: none;
  cursor: pointer;
  color: #111111;
}

.footer img {
  width: 24px;
  height: 24px;
  filter: invert(0%);
}
