* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  max-width: 100%;
}



/* Corpo da Página */
body {
  background-color: #ffffff;
  /* Fundo branco */
  color: #09091a;
  /* Texto preto Uber */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* Aplicativo */
.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  /* Fundo branco */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #09091a;
  /* Fundo preto Uber */
  color: #ffffff;
  /* Texto branco */
}

/* Abas */
.tabs {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 8px 0;
}

.tabs button {
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  background-color: #f0f0f0;
  /* Fundo cinza claro */
  color: #09091a;
  /* Texto preto Uber */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 115%;
}

.tabs button:hover {
  background-color: #1fbad6;
  /* Azul Uber */
  color: #ffffff;
  /* Texto branco */
}

.tabs .active {
  background-color: #09091a;
  /* Fundo preto Uber */
  color: #ffffff;
  /* Texto branco */
}

/* Horários */
.horarios {
  display: flex;
  justify-content: space-around;
  padding: 16px 0;
}

/* Caixa */
.box {
  text-align: center;
}

.box h2 {
  font-size: 24px;
}

/* Mapa */
.mapa {
  padding: 16px;
  margin: 2% 0;
}

.mapa img {
  width: 100%;
}

/* Input de Localização */
.input-localizacao {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #c0c0c8;
  /* Borda cinza Uber */
  margin-bottom: 8%;
}

/* Usuários */
.usuarios {
  padding: 16px;
  overflow-y: auto;
  padding-bottom: 50%;
  background-color: #f0f0f0;
  /* Fundo cinza claro */
}

/* Maquinistas */
.maquinistas {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #09091a;
  /* Texto preto Uber */
  background-color: #f0f0f0;
  /* Fundo cinza claro */
}

/* Usuário */
.usuario {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.usuario img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

/* Email */
.email {
  font-size: 14px;
  color: #585a5f;
  /* Cinza escuro */
}

/* Avatar */
.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

/* Notificação */
.notificacao {
  color: red;
  font-weight: bold;
  margin-left: 4px;
}

/* marlene */
.mapa-circular {
  width: 368px;
  height: 368px;
  padding: 16px;
  position: center;
}

/* Responsivo para Telas Maiores */
@media (min-width: 768px) {
  * {
    font-size: 24px;
  }

  .input-localizacao {
    width: 100%;
    padding: 12px;
    border-radius: 16px;
    border: 3px solid #c0c0c8;
    /* Borda cinza Uber */
    margin-bottom: 4%;
  }

  .mapa img {
    width: 70%;
    margin: 0 auto;
    display: block;
  }

  .flex_grande {
    display: flex;
    max-width: 60%;
    padding-top: 3%;
    padding-bottom: 1%;
  }

  .tabs {
    max-width: 80%;
    padding-left: 40%;
    padding-right: 5%;
    padding-bottom: 3%;
  }

  .horarios {
    padding-left: 20%;
    padding-right: 20%;
  }

  .mapa {
    padding-left: 20%;
    padding-right: 20%;
  }

  .box {
    padding-left: 8%;
    padding-right: 8%;
  }

  .mapa img {
    width: 100%;
    height: auto;
  }
}

.footer {
  display: flex;
  position: fixed;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  border-top: 1px solid #ccc;
  background: #fff;
  position: fixed;
  bottom: 0;
  padding-top: 2%;
  width: 100%;
}

.footer button {
  border: none;
  background: none;
  cursor: pointer;
  padding-bottom: 10px;
}

.footer img {
  width: 24px;
  height: 24px;
}