* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.search-bar {
  width: 90%;
  margin: 16px auto;
  display: block;
  padding: 10px;
  border-radius: 12px;
  border: none;
  background: #f0f0f0;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  border-top: 1px solid #ccc;
  background: #fff;
  position: fixed;
  bottom: 0;
  padding-top: 2%;
  width: 100%;
}

.footer button {
  border: none;
  background: none;
  cursor: pointer;
  padding-bottom: 10px;
}

.footer img {
  width: 24px;
  height: 24px;
}

.filtros {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  font-size: 14px;
  margin-bottom: 16px;
}

.grafico {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 5%;
}

.circle {
  width: 60px;
  height: 60px;
  border: 6px solid #4285f4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-text {
  text-align: center;
  font-size: 12px;
}

.descricao {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.badge {
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 12px;
  width: fit-content;
}

.andamento {
  background: #fef3c7;
  color: #92400e;
}

.vencida {
  background: #fecaca;
  color: #991b1b;
}

.agendada {
  background: #e5e7eb;
  color: #1f2937;
}

.inspecao-lista {
  padding: 16px 5%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  background: #f9f9f9;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.titulo {
  font-weight: 600;
}

.data {
  font-size: 13px;
  color: #555;
}

.agendar-bar {
  width: 98%;
  margin: 20% auto;
  padding: 12px 16px;
  background: #f0f0f0;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.agendar-bar button {
  background: #1e1e1e;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 0 5%;
  margin-bottom: 16px;
}

.tab {
  flex: 1;
  padding: 10px 0;
  border: none;
  border-radius: 999px;
  font-size: 14px;
  background: #fff;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: inset 0 0 0 1px #ccc;
}

.tab.active {
  background: #000;
  color: #fff;
  box-shadow: none;
}

.logo-container img {
  display: block;
  max-height: 48px;
  width: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #09091a;
 
  color: #ffffff;
}

.tabs {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 8px 0;
}

.voltar-btn {
  left: 16px;
  top: 50%;
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}